.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-header-x $padding-header-y;

  nav {
    > ul {
      display: flex;
      > li {
        @extend .button_first;
        margin-right: 10px;
        &:last-child {
          @extend .button_last;
          margin-right: 0px;
        }
      }
    }
  }
}
